@model SimpleApplication.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css" />
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <p>Name   @Html.TextBoxFor(x => x.Name)</p>
            <p>Email  @Html.TextBoxFor(x => x.Email) </p>
            <p>Phone Number @Html.TextBoxFor(x => x.Phone)</p>
            <p>Are you coming to the party? 
                @Html.DropDownListFor(x => x.WillAttend, new[] {
                    new SelectListItem() { Text = "Yes", Value = Boolean.TrueString },
                    new SelectListItem() { Text = "No" , Value = Boolean.FalseString}
                })    
            
            </p>
            <input type="submit" value="Send"/>
        }
    </div>
</body>
</html>
